.container {
  max-width: 1440px;
  margin: 0 auto;
}

.display-container {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.ant-btn-primary {
  background: #0149ef !important;
  border-color: #0149ef !important;
}
